/* Calculadora *****************************************************/
.Calculadora {
  background-color: #e6f3ff;
  border-style: outset;
  padding: 6px;
}

.Pantalla {
  background-color: #004000;
  color: yellow;
  border-style: inset;
  padding: 4px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: right;
}
.Resumen {
  text-align: right;
}
.btnDigito {
  color: navy;
  width: 100%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btnOperar {
  color: red;
  width: 100%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
